body {
  font-family: 'Arvo', serif;
}
.main {
  margin-top: 0;
}
#blankDiv {
  height: 50px;
}
#search {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  height: 40px;
  font-size: 2em;
}
.guardian {
  background-color: #33ccff;
}
.timesTitle, .guardianTitle {
  width: 100%;
}
.formLogin {
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}
.login {
  text-align: center;
}
.overlay {
  background: rgba(00, 0, 0, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -50px;
}
.hero-unit {
    background-image:url('../img/NewspaperMachine.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:500px;
    color: white;
  }
@media (max-width: 500px) {
  #hero {
    height: 200px;
  }
  h2 {
    font-size: 1.2em;
  }
  .title {
    font-size: 0.8em;
    margin: 0;
  }
  #search {
    margin-top: 40px;
    font-size: 1.2em;
  }
  h4 {
    display: none;
  }
}
