.main {
  font-family: 'Arvo', serif;
  margin-top: 0;
}
#search {
  margin-top: 20px;
}
.guardian {
  background-color: #33ccff;
}
.hero-unit {
    background-image:url('../img/NewspaperMachine.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:500px;
    color: white;
  }
@media (max-width: 500px) {
  #hero {
    height: 200px;
  }
  h2 {
    font-size: 1.2em;
  }
  .title {
    font-size: 0.8em;
    margin: 0;
  }
}
